[2017-02-09 16:05] dozed opened #1 "IE11 compatibility"
The library is currently not compatible with IE11.

There are two issues:

  - `postMessage` supports only string payload
  - `getOriginFromUrl` seems broken, e.g. protocol and port was missing

Possible URI fix `var childOrigin = new URI(window.location.href).path(url).origin();` with https://medialize.github.io/URI.js/

A way for `postMessage` IE compatibility:

[code]

[2017-02-09 16:30] Aaronius commented on #1
Thanks for reporting! I wasn't aware of these issues. I'll try to get them fixed as soon as possible.

[2017-02-12 03:19] Aaronius commented on #1
@dozed Are you sure you aren't running IE in compatibility mode? I'm pretty sure IE9 and older required a string payload but I think everything after that supports it. My tests pass on IE11 and I can't reproduce the problems you're seeing. Can you provide me with a test or some specific code that is failing? Thanks.

[2017-02-13 12:53] dozed commented on #1
You are right, IE10 and IE11 allow non-string payloads. So only IE9 and below are affected. Do you want to support those?

The issue with the URL appears in IE10/11 as well as in Edge, `event.origin === childOrigin` fails. Here is a test case: http://output.jsbin.com/yebucecibo Would it make sense to discuss this in a separate ticket?

Source jsbin:

  - Parent: http://jsbin.com/yebucecibo/edit?ht

[2017-02-13 17:09] Aaronius commented on #1
I don't intend to support IE9 and below, but I do need to document what the supported browsers are. Thanks so much for creating the example jsbin. I'll take a closer look when I get a moment. No need to create a new ticket.

[2017-02-13 21:35] dozed commented on #1
When providing `url: http://output.jsbin.com/vovudekosi` the `childOrigin` is `http://output.jsbin.com/vovudekosi:80`.

[2017-02-14 03:15] Aaronius commented on #1
@dozed I think you're referring to `childOrigin` at the end of these lines:

[code]

If I put `console.log(childOrigin);` after those lines and run it, I see this in the browser console:

`http://output.jsbin.com:80`

Which is accurate. You should be able to see that here: http://jsbin.com/wenosinoxe/1/edit?html,js,output

Do you see something different?

[2017-02-14 13:07] dozed commented on #1
Can you check if the handshake succeeds or if you can invoke a method on the parent?

[2017-02-15 00:02] Aaronius commented on #1
It doesn't succeed, but I wouldn't expect it to in the context of jsbin. The URL `http://output.jsbin.com/vovudekosi`, which is what the parent is trying to load, redirects to `http://jsbin.com/vovudekosi/1/edit?html,js,output`, which is jsbin itself and not the html page that has the `connectToParent` call. I think you'd have to pull this code out of jsbin to successfully test the full flow.

[2017-02-16 09:25] dozed commented on #1
This is since the jsbin is expired. You would need to setup a new jsbin with my code to reproduce the issue with the URL.

[2017-02-20 21:27] Aaronius commented on #1
Okay, I think I have this figured out and fixed in 2.4.1. You can see my changes here: https://github.com/Aaronius/penpal/commit/f04c4907be4e513fea0e78c1f5e18ceae4c4118c

Basically, in browsers where we have to compute the childOrigin, we need to not add the port to the computed string if the port is the default for the protocol. Because we were always adding the port, it wasn't matching the origi

[2017-02-20 23:15] dozed commented on #1
On Microsoft Edge `a.port || location.port` is the empty string. So it does not work there.

[2017-02-21 16:27] Aaronius commented on #1
:/

[2017-02-22 00:12] Aaronius commented on #1
Fixed in 2.4.3. Currently viewable at: http://output.jsbin.com/jucovogugi/1

I tested in IE 10 and 11, Edge, and latest versions of Chrome, Firefox, and Safari. My automated tests don't use the default ports or it would have caught this. I don't really want to use the default ports though because it may not catch the problems with custom ports. I might need to run them on both default and custom p

[2017-02-22 00:12] #1 closed

[2017-02-23 10:20] dozed commented on #1
Cool, thanks for fixing.

[2017-02-23 16:14] Aaronius commented on #1
@dozed Out of curiosity, are you actively using Penpal or just checking it out? If you're using it, how is it working out for you?

[2017-02-23 18:40] dozed commented on #1
I use it actively in a private project, it is working fine so far. I like the simple functional approach.

[2017-02-24 02:47] Aaronius commented on #1
Good to hear. Thanks!

[2017-04-17 20:06] loganvolkers opened #3 "Multiple children on same origin"
When there are multiple Children on the same domain, the children will produce cross-talk. This is because the parent's `postMessage` channel is shared between the children.

The solution to this is for every child to get a `childId` to identify it uniquely. I implemented this approach for [Postmate](https://github.com/dollarshaveclub/postmate/issues/25), but I'd like to switch to Penpal for the a

[2017-04-17 20:21] Aaronius commented on #3
This would be a fantastic contribution. Thank you for offering. Contributing guidelines:

Try to follow the conventions already in the code. Don't be offended if I tweak it later.
File size is a feature. Consider it as such.
Add tests where you can (looks like you already have the idea).

Thanks!

[2017-04-17 20:35] loganvolkers commented on #3
Well shoot. My fix of adding a `childId` didn't fix my test. Turns out the problem was in my test code.

Here's the revised test code:
[code]

Also today I learned that using `event.source` and `data.id` already provides adequate filtering for this use case.

[code]

Thanks for the prompt response! Looking forward to using Penpal for more.

[2017-04-17 20:35] #3 closed

[2017-04-18 19:13] gajewsk2 opened #4 "What's the best way to get primitive properties from child/parent?"
It seems like anything you want to pass over the postmessage, you just put in methods. But what if you want to pass over static properties, like `'max': 5000`. Obviously you could use a getter-ish method and slap it in methods, but I'm wondering if that's really the best way, or if there could be some way to access properties immediately from the `connection.promise`'s resonse? eg
[code]

[2017-04-18 19:21] Aaronius commented on #4
You have to go through methods like you're talking about. So in your child iframe you might have something like this:

[code]

And then from the parent:

[code]

[2017-04-18 19:38] gajewsk2 commented on #4
Cool, gets the job done. Would it be possible to expose properties as well in a future update? Or does that go against Penpal's design somehow?

[2017-04-18 20:00] Aaronius commented on #4
It kind of goes against the design. Penpal's primary goal is communication (for which methods are used). Whether you have data models or how you might structure them is outside of its scope.

Something that might be helpful to understand (if you don't already) is that the child object that you get here:

[code]

isn't any actual object that resides inside your iframe. Basically, when the iframe co

[2017-04-18 21:01] Aaronius commented on #4
You can pass primitive or static configuration objects back and forth. What I've shown in my original response is a pull methodology. If you want a push methodology (more like postMessage) rather than a pull, you can do so:

From the child:

[code]

From the parent:

[code]

[2017-04-18 22:31] Aaronius commented on #4
@gajewsk2 Do you have a proposal for what the API would look like in Penpal that would satisfy what you're looking for?

[2017-04-20 17:50] loganvolkers opened #5 "CI and Browser testing"
It would nice to see CI running for this project and for that to include some browser testing. 😄

I noticed that IE support is only for IE 10+, but it's nice to see that as a badge on the project page:

![image](https://cloud.githubusercontent.com/assets/1157086/25244782/ef9a9638-25b6-11e7-9990-6a53dcfcf483.png)

Sauce Labs has free browser testing for open source projects: https://saucelabs.com/o

[2017-04-20 19:23] gajewsk2 commented on #4
I'm thinking my ideal api would allow any property type and not have a methods property by default:
From Child
[code]
From Parent:
[code]

[2017-04-21 22:40] Aaronius commented on #5
Yes! I agree. My schedule for the several weeks does not look promising for this work (trip to California, conference in Switzerland, moving to a new house) but I really would like to do this. I'm willing to give rights to anyone who may want to help out with this.

[2017-05-05 16:46] gajewsk2 commented on #4
Thoughts on this?

[2017-05-05 23:53] loganvolkers commented on #4
I like the configuration use case, such as using `debug` to tell a child to operate in debug mode.

IMHO the most common mistake with @gajewsk2's proposal would be someone expects Penpal to create a proxy object instead of freezing the property.

[code]

A couple suggestions here:
 - Separate methods from metadata e.g `Penpal.connectToParent(methods,metadata)`. Would help clarify the difference be

[2017-05-06 00:08] gajewsk2 commented on #4
I'm interested in separating methods and metadata - I think it's a valid concern and thought. And I've personally never seen a valid justification of the speed impact for `Object.freeze`, but that aside, it certainly would make it clear to the user.

To your side comment, I'm quite familiar with using query params on iframes for these sorts of things, but what do you mean by hash params in this co

[2017-05-10 18:48] Aaronius commented on #4
I have the same concerns that @loganvolkers expressed. I'm open to considering an extra metadata param (or something similar) so that it's more clear that the object is not going to be kept up to date after it's sent to other window. Using `parent._metadata` to access it feels quirky. I don't really like any of the alternatives I can think of either though.

I'd be curious to hear about use cases

[2017-07-18 18:05] gajewsk2 opened #7 "Loading Penpal with System.js fails to connect"
System.js loads assets asynchronously (in development) and this causes the iframe's 'load' event to fire pre-emptively, for the purposes of Penpal. The child's connectToParent function has not been called, so it cannot receieve the message from the parent that is sent after the iframe's load event fires.

We have yet to find a way to cause System.js to load synchronously, except with bundling, whi

[2017-07-18 18:05] gajewsk2 commented on #7
[code]

[2017-07-18 18:55] michael-simon commented on #7
After a small bit of thought, we actually removed the manual handshake from the function return and made it a more general part of the Penpal library. (We also realized that maybe we should be triggering on module load, not on iframe load, for the asynchronous module loading case.) I made a PR to that end: https://github.com/Aaronius/penpal/pull/8

[2017-07-18 19:25] Aaronius commented on #7
Interesting. A couple thoughts that come to mind:

(1) What if, instead of starting the handshake from the parent, we started it from the child. It's actually similar to what you're doing in your code, but rather than the child saying "hey parent, start the handshake", the child would be starting the handshake itself and waiting for the parent to acknowledge it. Maybe there's an obvious reason I'm

[2017-07-18 20:12] gajewsk2 commented on #7
We both discussed. That makes a lot more sense. We'd prefer option 1 as well. 👍

[2017-07-18 20:19] michael-simon commented on #7
That's a good thought, and it looks like the code supports that with one small problem (and it was already a problem for our thing too): what does the child use as the desired origin for the postMessage(HANDSHAKE call? Right now we use a list of parentOrigins, but we're not allowed to pass in a list there. What my PR did was ask for a specific singular origin to use, but here we're inside of the c

[2017-07-18 20:57] Aaronius commented on #7
Yeah, you're right. We would probably need to limit `parentOrigin` to be a single string (right now it supports either a single string or an array of strings) and make it required (right now it's optional). I know the array of strings was useful to at least @Gomah because of https://github.com/Aaronius/penpal/pull/2

That's too bad. I don't really have other ideas for handling that. How do you fee

[2017-07-18 21:15] michael-simon commented on #7
I don't love the interval idea.

What I want to know is what the use case for having multiple parentOrigins is. I can think of a couple cases:
1) You are attempting to connect a child to multiple 'parents'. This seems unlikely because of how the iframe is created by a singular parent in the first place. But you still have to post the message to some origin and that value is somewhat correct, so th

[2017-07-19 04:10] Aaronius commented on #7
The use case is that that a company like Johnson & Johnson has multiple sites like http://tylenol.com and http://sudafed.com and they each need to load http://jnj.com/coupon.html into an iframe and communicate with it. In this case, from http://jnj.com/coupon.html they would provide Penpal an array of origins that includes both http://tylenol.com and http://sudafed.com. Does that make sense?

[2017-07-19 04:24] gajewsk2 commented on #7
If the parent is always initializing the child, then you could do this sequence to still support child handshake:

1. Parent makes iframe with get param including the origin
2. Child checks if get param contains origin
3. Child checks if selected origin is in it's array of valid origins
4. Child sends handshake back to parent at selected origin.

Would that be an acceptable solution to both proble

[2017-07-19 04:34] Aaronius commented on #7
It's an insecure approach. A nefarious website could pass an acceptable
origin through a get param and start communicating with the iframe.
On Tue, Jul 18, 2017 at 10:24 PM Micah Gajewski <notifications@github.com>
wrote:

[2017-07-19 04:46] Aaronius commented on #7
I spoke too soon. I don't think it will be insecure. I need to think about
potential problems with adding to the URL though. For example, it may mess
with consumers' analytics reporting. It may still be worth doing though.
On Tue, Jul 18, 2017 at 10:34 PM Aaron Hardy <aaron@aaronhardy.com> wrote:

[2017-07-19 15:45] Aaronius commented on #7
Okay, rather than having the parent include the origin on a get param, the child should just be able to use `document.referrer` to derive the parent's origin. It should be noted that if the child navigates itself to some other URL before attempting to handshake with the parent, then `document.referrer` will no longer refer to the parent's URL. I'm not too concerned about this case though because i

[2017-08-09 17:54] Aaronius commented on #7
Fixed in 2.6.0. The child now initiates the handshake.

[2017-08-09 17:54] #7 closed

[2017-08-23 11:16] Aaronius commented on #7
@gajewsk2 Did this work out okay for your system.js use case?

[2017-09-23 02:39] Aaronius commented on #4
At the moment, I'm not convinced that the value this would bring to the library would outweigh the cost of a more complex API. Closing.

[2017-09-23 02:39] #4 closed

[2017-10-20 11:57] jrencz opened #11 "Uncaught (in promise) DOMException: Failed to execute 'postMessage' on 'Window'"
I'm experimenting with Penpal and I try throwing things in and out  from and to the child page I need to have embedded just to find out if Penpal can handle that.
I'm very much satisfied and impressed with what it can do. Great piece of software!

I tried transferring child `window` object to parent which is obviously something that should fail.
Disclaimer: This report is not about that Penpal is

[2017-10-20 12:24] jrencz opened #12 "Feature suggestion: allow nested `methods` object"
I thought it may be useful to be able to pass nested object (tree of any depth with functions as leafs) as `methods`:

[code]

[code]

Why I think it may be useful:
The child may have extensive API (in particular: already existing API, currently exposed to `window`) as it is in my case.
To fit Penpal in my needs I have to flatten that API, which I currently do by flattening the API object
with htt

[2017-10-20 15:11] Aaronius commented on #12
I like the idea. I'm a bit concerned at how much it might complicate/bloat the library in relation to the number of consumers that would use the feature. Simplicity and small file size are important. I'd like to see what it looks like with the enhancement added and see if it's worth the cost.

[2017-10-20 15:14] Aaronius commented on #11
Thanks for reporting this. Sounds like something we want to get fixed.

[2017-10-20 15:16] jrencz commented on #12
I see your point. I think It can be implemented in a way that serialiser/deserialiser of `methods` are configurable functions.
This would also allow some other tricks like initialising constructed objects from what comes from Penpal.

If no serialiser/deserialiser are set then a generic one (requiring `methods` to be flat dictionary)  would be used and it's what's there at the moment. It just has

[2017-10-20 15:19] Aaronius commented on #12
I like it. I'll play around with the idea sometime unless you or someone else gets to it first.

[2017-10-21 18:55] Aaronius commented on #11
Fixed in 2.7.1.

[2017-10-21 18:55] #11 closed

[2017-10-23 10:11] jrencz opened #13 "Feature suggestion: parent/child connection timeout should reject promise"
As far as I can see if I run child sand-alone and I make an attempt to connect to the parent the promise stays pending indefinitely.

It's super-easy to detect "just" running stand-alone in child (by checking if `window.parent !== window`), but it becomes harder if connection was not properly established (for any reason in fact)

Currently I use `Promise.race` for that but it seems like a reasonab

[2017-10-23 12:24] jrencz opened #14 "Reconnecting if child reloaded"
I noticed that if I reload the page in the iframe the API is not re-established on neither side:
- in parent there's no event to listen to in order to call `Penpal.connectToChild` again (even if one should call it manually)
- in child, even though the page starts again it can't connect to already existing parent

It's easy for the end user to break the experience by triggering child reload (one ca

[2017-10-24 05:36] Aaronius commented on #5
Fixed. There was one test failing for IE 10 that could probably be fixed (it's a specific scenario that most people probably wouldn't run into), but IE 10 usage is so low I decided I didn't want to deal with it. I've said that v11 is the only IE supported now. I still need to make the tests run on iOS and Android.

[2017-10-24 05:36] #5 closed

[2017-10-24 17:20] loganvolkers commented on #5
❤️ 😍

[2017-10-25 04:05] Aaronius commented on #13
Throwing an error when `connectToParent` is called and the child is not in an iframe sounds reasonable. I'd just throw an error rather than returning a connection object. Regarding rejecting a promise if the connection cannot be established, a few thoughts come to mind:

Would you expect the promise to reject if the connection weren't established after a certain amount of time (potentially configu

[2017-10-25 04:39] Aaronius commented on #14
I'm curious to know how you thing this should work from a consumer viewpoint.

Should the parent somehow be notified and then forced to call `Penpal.connectToChild` again?
If yes, then I'll probably need to figure out a way to reuse the same iframe when `connectToChild` is called the second time.
If no, then I'll probably need to update the `child` object upon reconnection since the child could co

[2017-10-25 17:33] Aaronius commented on #3
This test has been added to the test suite: https://github.com/Aaronius/penpal/commit/3e61c23252720e8226ea48d6ca3f82f41f474044

I tweaked it a bit to make sure `done` will only get called after both method calls resolve.

[2017-10-25 21:49] jrencz commented on #14
The problem is that patent, as far as I know, has no out of the box way to tell if child did reload apart from counting on the fact that child will ping the parent as it loads. Maybe this is the way? I mean sending a ping when child calls its own `connectToParent` and if parent "thinks" the connthinks has already been established it will know that child did reload.

Apart from restoring the connec

[2017-10-25 21:51] jrencz commented on #14
The optimal behavior would be not to have to call `connectToChild` again in such situation.
Being notified that child did reload is a bonus

[2017-10-25 22:05] jrencz commented on #13
Ok: throwing an error outside of an iframe in case `connectToParent` is called seems reasonable since it can be checked synchronously.

As I mentioned I added an opt-out in my test implementation and that's IMO what users should probably be encouraged to do in README if child is operational at all when loaded as stand-alone.

But this way it's definitely a breaking change. It's easy to think about

[2017-10-26 00:05] Aaronius commented on #13
Thanks.

Sorry, on the last question I meant: If the connection is successfully established (the handshake succeeds) and the parent then tries to call a method that the child has exposed (or vice-versa), should the promise returned from the method call get rejected after a certain amount of time (potentially configurable)?

[2017-10-26 08:40] jrencz commented on #13
I see it this way: One of possible use cases for Penpal I see is being a replacement for workers (which are not always available) to offload the main thread with non-visible iframe. In that case default timeout may break existing implementations since the very reason one would create a worker is to perform long tasks.

If on the other hand child no longer maintains its side of the connection (e.g.

[2017-10-26 15:32] jrencz opened #15 "Penpal should be capable of transferring Error objects as rejection reasons"
As [MDN Page on Promise.reject](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Promise/reject#Description) mentions rejecting promises with `Error` instances is a good practice.

There's even [a `prefer-promise-reject-errors` ESLint rule](https://eslint.org/docs/rules/prefer-promise-reject-errors) for that.

Penpal fails with
[code]

It should be capable of handli

[2017-10-26 15:44] jrencz commented on #15
It can be handled in project like:

[code]

[code]

In parent if `foo` is called one will see `Uncaught (in promise) [From Penpal child]: foo failed `

In fact this may be incorporated into Penpal source, yet with configurable prefix

[2017-11-08 00:22] joshkg commented on #14
Plus one on this feature request! If you can get it done tomorrow that'd be great 😂

Our scenario is that we have an iframe hosting another application, which transitions URLs as part of its flow. Each new URL within the iframe loses connection to the parent and we need to reestablish connection without destroying the iframe.

[2017-11-08 03:33] Aaronius commented on #14
👍  On my TODO list. My plan is that if the child reconnects and exposes different methods than it did on the first connection, the parent's `child` object that it was initially provided through the promise will be updated with the new methods.

Also, in order to allow the consumer to determine when a reconnection happens, I will allow the consumer to call `connection.onReconnect(function(child) {

[2017-11-08 04:09] joshkg commented on #14
Sounds good, we'll be happy to test it!

[2017-11-10 04:48] Aaronius commented on #14
Alright, I've published this on the `next` dist-tag. You can try it out via `npm install penpal@next`. It required me to remove support for allowing `parentOrigin` to be an array on `connectToParent()` (previously added in https://github.com/Aaronius/penpal/pull/2). Because that in particular is a breaking change, I'm queueing this up for v3. I did not add a `connection.onReconnect()` API or any o

[2017-11-10 04:50] Aaronius commented on #14
You can read the documentation on reconnection here: https://github.com/Aaronius/penpal/tree/v3#reconnection

[2017-11-10 05:07] joshkg commented on #14
Excellent! Will try this out tomorrow!

[2017-11-10 14:20] Aaronius commented on #13
Alright, I've published this on the `next` dist-tag as `3.0.0-alpha.3`. You can try it out via `npm install penpal@next` or `npm install penpal@3.0.0-alpha.3`.

Give it a shot and let me know how it works for you. You can find the `timeout` option in the readme here: https://github.com/Aaronius/penpal/tree/v3

[2017-11-11 04:20] Aaronius commented on #15
I've published this on the `next` dist-tag as `3.0.0-alpha.4`. You can try it out via `npm install penpal@next` or `npm install penpal@3.0.0-alpha.3`.

Give it a shot and let me know how it works for you. I took the "powerful" route of serializing/deserializing the error object. The `name`, `message`, and `stack` properties will make it through the serialization process.

[2017-11-11 04:32] Aaronius commented on #15
BTW, I only serialize/deserialize errors that are thrown or are used to reject promises. In other words, if a method returns an error or returns a promise that's resolved with an error, I don't attempt to serialize the error (in fact, I go out of my way to not serialize it). I wasn't sure which way I should go on that but I'm curious to know what you think.

[2017-11-11 07:53] jrencz commented on #15
Sounds great.

I can't think of a reasonable case where passing an error as return/resolve value through the iframe boundary is more desirable than throwing it. Especially that the other side can always `catch` and recover (return from `then`) if for some reason someone needs it.

[2017-11-13 09:04] jrencz commented on #14
I checked `3.0.0-alpha.5` and calling methods (either from parent side or from child side) works OK, but lack of reconnection callback/observable will require additional implementation effort in my case:

After the connection is established on parent side the parent sends configuration to the child. Reconnected child obviously won't get this configuration

At the moment I can think of a workaround

[2017-11-13 09:40] jrencz commented on #14
In fact it's not as bad as i thought.

on `2.7.1` in my case the child exposed some methods parent might call after getting connected in order to configure the child. They were called by the parent after the `Penpal.connectToChild().promise` resolved.

on `3.0.0-beta.5` I added `initChild` method to the api exposed by parent. Now the parent performs the same configuration steps as it did after con

[2017-11-13 10:25] jrencz commented on #15
It looks like it works on `3.0.0-alpha.5`

[2017-11-13 10:44] jrencz commented on #13
I checked at `3.0.0-alpha.5` and the timeout on parent side looks like it's broken.

Regardless of whether the connection is established or not the iframe is removed after timeout is done.

The problem seems to be [in here](https://github.com/Aaronius/penpal/blob/v3/src/index.js#L309-L315):

[code]

`reject` called after `resolve` (which is the case if connection was established and `handleMessage

[2017-11-13 15:52] Aaronius commented on #13
Good catch. I'll fix it and add a test. Sorry, I haven't tried the changes in an actual project yet or I would've caught this, but I will soon. Thanks!

[2017-11-13 16:15] Aaronius commented on #14
Yeah, that works. One option would be to change `connection.promise` to `connection.onConnect(() => {...})` or something else that's not promise-based and call the callback function on both the initial connection and every reconnection thereafter.

[2017-11-13 17:41] jrencz commented on #14
Why not both?
Promise would work as it used to and `onConnect` (I'd suggest `onConnected` BTW) would be called on each connection. That's basically what my solution is yet without a need to call anything in child

[2017-11-14 23:58] Aaronius commented on #14
I would consider `onConnect` and `promise` to be redundant. The only use case where they might not be considered redundant is if a user only wants to be notified of the first connection, in which case `promise` would be a simpler choice. I'm not sure that that use case is a valid one though, and they could achieve the same using onConnect by storing whether their callback was previously called (or

[2017-11-15 02:24] Aaronius commented on #14
The awkward thing with going with `onConnected` for the parent is that `promise` still makes sense on the child since it will be connected at most once. I'd hate to have `onConnected` on the parent and `promise` on the child and I'd rather not make the child use `onConnected`. :/

[2017-11-15 08:33] jrencz commented on #14
I see it this way:

- promise has a cool feature of being able to expose other side method when they are available: whether it already happened or it will happen. In this matter it's way more convenient than the callback. It also can be passed around to retrieve methods from everywhere
- on the other hand it's not the tool to notify about things that happen more than once
- keeping `Penpal.connect

[2017-11-16 00:06] Aaronius commented on #14
Thanks for the discussion. I'll think I'll go in that direction.

[2017-11-16 06:00] Aaronius commented on #13
The the issue you mentioned has been fixed in penpal@3.0.0-alpha.6.

[2017-11-16 13:47] jrencz commented on #13
I tested `penpal@3.0.0-alpha.6` and the timeout works fine.

When timeout was added as a reason of promise rejection there are 2 errors: timeout and connection destroyed.

How about baking in a way to detect which is which?
I suggest there could be `TimeoutError` and `ConnectionDestroyedError` thrown instead of generic ones. Then user might:

[code]

To prevent error constructors from being expose

[2017-11-16 16:43] Aaronius commented on #13
Good call. I'll probably either set the `name` property on the error object or add a `code` property like Node does and then expose constants.

[2017-11-18 01:35] Aaronius commented on #13
Error codes added in in 3.0.0-alpha.7. See https://github.com/Aaronius/penpal/blob/05a7c15a9232718a5b7c0d045e9564a18fcc17b2/README.md#errors for details. Thanks for trying out these changes and giving feedback.

[2017-11-18 01:48] Aaronius commented on #13
Actually, hold on...making some tweaks.

[2017-11-18 03:17] Aaronius commented on #13
Okay, you can try it with 3.0.0-alpha.8. See https://github.com/Aaronius/penpal/blob/619741eacf9ac996187b0c008c9e240b9118d80b/README.md#errors for details.

[2017-11-20 08:45] jrencz commented on #13
I think it would be good to expose those constants as named exports es well

[2017-11-21 16:00] Aaronius commented on #13
I'm curious to know where you would draw the line with named exports. For example, early on I toyed with making `connectToChild` and `connectToParent` named exports (instead of properties on the default export object) but decided against it. I also thought about changing `Penpal.promise` into a named export called `setPromise` and `Penpal.debug` into `setDebug`, but, again, decided against it.

[2017-11-21 16:15] jrencz commented on #13
If I was to decide I'd say that things that make sense stand-alone (like error codes but not like promise setter or debug setter which affect the Penpal singleton) may be exported with named exports. This would allow bundlers to reach those values and discard all the rest (if they are capable of such optimisation) in case default export (Penpal singleton) is not imported in the module in question.

[2017-11-22 06:06] Aaronius commented on #15
Published in 3.0.0.

[2017-11-22 06:06] #15 closed

[2017-11-22 06:06] Aaronius commented on #14
Published in 3.0.0.

[2017-11-22 06:06] #14 closed

[2017-11-22 06:06] Aaronius commented on #13
Published in 3.0.0.

[2017-11-22 06:06] #13 closed

[2017-12-20 09:53] yoshiokatsuneo opened #16 "TypeScript error: TS2309: An export assignment cannot be used in a module with other exported elements."
I try to import Penpal like this.
[code]
Error:(43, 3) TS2309: An export assignment cannot be used in a module with other exported elements.
[code]
  export = Penpal;
[code]
import Penpal from 'penpal';
[code]
Error:(3, 8) TS1192: Module ''penpal'' has no default export.
[code]

[2017-12-21 01:55] yoshiokatsuneo commented on #16
Workaround:
[code]

[2017-12-21 03:43] Aaronius commented on #16
Hey @yoshiokatsuneo, do you know how to fix this issue? I don't use TypeScript, so it might take me a while to figure it out. A pull request is welcomed.

[2017-12-21 03:45] Aaronius commented on #16
@paulblyth, could you help out here perchance?

[2017-12-21 06:59] paulblyth commented on #16
Hey, so we use:

[code]

We’re on Penpal ^2.7.0 and Typescript 2.4.0 and we don’t get this error. Let me try with the versions above once I get into the office and I’ll get back to you.

[2017-12-21 07:03] paulblyth commented on #16
I’m on mobile but fairly sure this is the error https://github.com/Aaronius/penpal/commit/8b05093b266c4d6d3f590ddab32b5b726fd3e11e

I don’t think you can have multiple exports in the module (I could be wrong but this is my best guess until I’m at a computer)

[2017-12-21 09:18] paulblyth commented on #16
@yoshiokatsuneo could you please try https://github.com/Aaronius/penpal/pull/17 and let me know if that fixes it for you?

[2017-12-22 04:19] yoshiokatsuneo commented on #16
Unfortunately not.

[code]

It just works if I just remove index.d.ts ...

[2017-12-25 00:01] paulblyth commented on #16
Thanks @yoshiokatsuneo but I don't see anywhere where you've checked out the PR fix in that code snippet, looks like you're just testing against master? I've tried the steps you've done against my fork/branch and I still get a couple of errors but I'm not convinced they're not red herrings...

I've set up a quick demo here: https://github.com/paulblyth/penpal-ts-test - @Aaronius this might be usef

[2017-12-25 05:56] yoshiokatsuneo commented on #16
@paulblyth I just tested using the PR branch in my project. : https://github.com/paulblyth/penpal/tree/fix-16/multiple_exports
And, it just works !

[2017-12-30 22:00] #16 closed

[2017-12-31 02:39] Aaronius commented on #16
Released in 3.0.1.

[2018-02-07 03:24] ski629 opened #18 "Parent methods called multiple times after child reload"
Thank you for writing this great library! It has been very easy to work with outside of this one issue.

After a child is reloaded, any methods that it calls on the parent are executed on the parent side multiple times. The child only receives one response, but the parent executes the method an additional time for every time the child is reloaded.

For example, if the child is reloaded three times

[2018-02-07 04:00] Aaronius commented on #18
Thanks for reporting this. Yeah, sounds like a bug. I'll take a look as soon as I can. If you figure it out before then, a PR would be excellent.

[2018-02-09 06:34] Aaronius commented on #18
Fixed in 3.0.2.

[2018-02-09 06:34] #18 closed

[2018-02-09 15:08] ski629 commented on #18
Thank you Aaron!

[2018-02-10 18:28] Aaronius commented on #12
Hey @jrencz, I don't plan on spending time on this. If you'd like to write a PR and it doesn't complicate things much or bloat the size I would entertain it, but can't guarantee it will get merged. Thanks for all your feedback on the issues that have come through so far.

[2018-02-10 18:28] #12 closed

[2018-03-19 11:56] roly445 opened #20 "Add the ability to apply properties to the iframe"
Hi, I have just started to use your library to help with the Payment Request API and for this the `allowpaymentrequest` property needs to be set on the iframe.

Is there a way to introduce a way of setting these properties as part the the `connectToChild` method?

Thanks

[2018-03-19 14:52] Aaronius commented on #20
Would this work for your use case?

[code]

If that doesn't work for you, please let me know why. Right now you can't pass iframe properties through connectToChild, but I've been considering adding something similar.

[2018-03-19 15:25] roly445 commented on #20
Maybe yes, I'm not sure the the API needs it to be present before the content of the iframe is loaded.  If you had a snippet of code for you are picturing I could insert it into my local javascript and see what happens.

[2018-03-19 16:26] Aaronius commented on #20
If you do it the way I mentioned above, the property should be on the iframe before the iframe's content is loaded.

As for a potential API, I've been considering something that @killix did on a fork of Penpal: https://github.com/killix/penpal/commit/f687a1f30ce804a68f1219a08d20ec25bef74dc1

I'm still trying to understand the use case(s) where this sort of API is necessary though.

[2018-03-19 22:56] roly445 commented on #20
I'm doing work on the [Payment Request API](https://www.w3.org/TR/payment-request/) and so with the PCI requirements around capturing card details the code that launches and captures the card details needs to be hosted in a secure, PCI compliant environment.
So the card capturing is iframe'd onto the online shop's site.

[2018-03-19 22:59] Aaronius commented on #20
Okay, please let me know if this solution works for you:

[code]

If it does, I'll close out this ticket.

[2018-03-20 18:31] roly445 commented on #20
It kinda works.  I'm using typescript so I had to do `connection.iframe.setAttribute('allowpaymentrequest','')`, but the concept is the same.  Thanks.

[2018-03-21 22:38] loganvolkers commented on #20
👎 for the @killix approach.

I think that having both an `appendTo` and `iframe` option leads to a conflated API and data flow.

 - Create an iframe
 - Create a holder that the iframe will be appended to
 - Put both of them in the library
 - The iframe ends up in the holder

If you do change the API, I'd recommend a functional callback approach that also addresses some of the `appendTo` use cases

[2018-03-23 22:01] Aaronius commented on #20
Thanks @loganvolkers. I agree with what you've described. I'm going to close this issue but I'll probably implement similar to (or exactly) what @loganvolkers has described soon.

[2018-03-23 22:01] #20 closed

[2018-03-30 19:53] killix commented on #20
This approach doesn't work when you want to use an existing iframe (not created by the javascript). Just #headsup I didn't make a PR because is still testing some think before.

[2018-03-30 19:54] killix commented on #20
Ho and this solution:

[code]

look not working when attributes are scope auth attribute.

[2018-03-31 16:59] Aaronius commented on #20
@killix Can you describe a case where you need to use an existing iframe?

[2018-04-04 16:55] killix commented on #20
Basically, all cases when the creation/management of the iframe is managed by a component framework style (Vue, React).

[2018-12-21 16:23] ahtcx opened #24 "TypeScript declaration files no longer found"
Since #23 TypeScript declarations are no longer found.

[code]

When installed from npm only the `./dist` and `./lib` folders and downloaded, `./lib` contains `index.d.ts` which is copied from `./types` during the build script. The problem is that `package.json` sets `types` to `./types/index.d.ts` which doesn't exist when installed from npm.

I would have submitted a PR but am unsure what to do s

[2018-12-23 03:25] #24 closed, assigned to nobody

[2019-03-02 18:40] srhyne opened #27 "Cannot read property 'parentWindow' of null"
@Aaronius we are using Penpal for [embedded lessons](https://vimeo.com/316903371) in ConveYour.com. We ❤️ it! Thank you!

I just upgraded from 3.0.7 to 3.1.0 and now we are getting this exception often. Here's the related line.

https://github.com/Aaronius/penpal/blob/843476f823b2b896b471ab02728aa8c715aaaf6c/src/index.js#L392

It looks like in the previous version this variable was set prior to ha

[2019-03-02 21:00] srhyne commented on #27
More on this.. It seems as though, this handleMessage would only fire when the parent receives a message from the child and that's only going to happen when the child is already in the DOM. I'm going to try to do some console log's on this to figure out what event or iframe state is causing this.

[2019-03-06 03:40] Aaronius commented on #27
@srhyne I ended up fixing this issue in [this commit](https://github.com/Aaronius/penpal/commit/59c7231892b2f04ad21c8af48dc564589ce64507) and releasing it in version 3.1.1. It doesn't resolve the concerns I outlined in https://github.com/Aaronius/penpal/pull/28#issuecomment-469872375, though. I'm still thinking that through.

[2019-03-06 03:40] #27 closed

[2019-04-03 14:23] CNDW opened #29 "communications fail on IE Edge with srcdoc polyfill"
There is currently an issue with the `srcdoc` attribute on IE edge, [there is a workaround detailed in this pr for the srcdoc polyfill](https://github.com/jugglinmike/srcdoc-polyfill/issues/17).

I am using penpal with react to insert an iframe with srcdoc content with the following config

[code]

It is working as expected when the polyfill is not needed, but in IE Edge where the polyfill is need

[2019-04-04 22:34] Aaronius commented on #29
Hey @CNDW. Just wanted to let you know I saw your issue. I haven't investigated usage of Penpal with `srcdoc` yet, so this will be interesting. I'll try to get some time soon to dig into the issue.

[2019-04-10 03:37] Aaronius commented on #29
Could you give me the value of `iframeContent` in your example? Feel free to trim out the irrelevant bits.

[2019-04-10 03:41] Aaronius commented on #29
Also, I know Penpal will stomp over `src` currently, but if it didn't, would you be able to use a data URI e.g., (`data:text/html,<html>...</html>`) instead of a JavaScript scheme?

[2019-04-10 18:34] CNDW commented on #29
`iframeContent` is a document string in that example. e.g.
[code]

The javascript scheme is the polyfill, I'm unsure of what kind of support a data URI would have but as long as I am able to support the same browsers with a data uri over a javascript scheme it would work.

[2019-04-15 04:09] Aaronius commented on #29
@CNDW, I just released version 4 of Penpal which includes both `srcdoc` support and data URI support when using `src`. In your case, you would set `srcdoc` in browsers that support it and instead set `src` in browsers that don't. When setting `src`, you would use a data URI as follows:

[code]

I decided not to support JavaScript schemes, because Edge reports a different origin on `postMessage` me

[2019-04-15 04:09] #29 closed

[2019-04-16 15:10] CNDW commented on #29
Thank you for the work on this.

This makes it a dealbreaker for me, I still have to support IE 11/10. At this point I will likely have to fork an older version and make a manual fix :(

[2019-06-10 19:49] maxmori opened #30 "Angular integration"
Hi, i have one question..
 it's possible to easily integrate your library in an Angular 2+ project?

I've try to  import has a node_module  and it seems to work,
  but i encountered some problem when Penpal  create some promises.

My app never resolve the promise ..  is it possible that it's zone.js?
I see that promises are wrapped from it

[2019-06-10 20:36] Aaronius commented on #30
Penpal doesn't have any framework-specific code in it, so I assume it should work with Angular, but I haven't used Angular since Angular 1 so I may not be able to offer much guidance. If you wanted to create a very simple demo of your issue using sandbox.io or something like that I may be able to help figure out what's going on.

[2019-06-11 15:14] cojocaru-dragos-alexandru commented on #30
Tested it with Angular 8 and it works just fine.

[2019-06-11 15:19] cojocaru-dragos-alexandru opened #31 "connectToChild.childOrigin"
I need to specify the child's origin, when the parent and the child are on the same domain, but different sub-domains.

I'm getting the following error:
Parent received handshake from origin https://child.domain.com which did not match expected origin https://parent.domain.com

[2019-06-11 16:11] Aaronius commented on #31
What is the value of the `src` attribute on the iframe?

[2019-06-12 08:19] cojocaru-dragos-alexandru commented on #31
the iframe's src is https://child.domain.com

[2019-06-12 14:52] Aaronius commented on #31
Can you put a breakpoint on this line: https://github.com/Aaronius/penpal/blob/918c67a608bf827383101d6fe22d827b128f04e8/src/getOriginFromSrc.js#L16 and step through the code? Somehow, in your case, `getOriginFromSrc` seems to be returning `https://parent.domain.com` instead of `https://child.domain.com`.

[2019-06-12 18:17] cojocaru-dragos-alexandru commented on #31
I will give it a try in the next dev sprint, but at the moment we had to find another quick solution, so we went with the vanilla "postMessage". Thanks.

[2019-06-13 16:12] maxmori commented on #30
Ok I try to explain the use I made of it.

I used Penpal with an Angular 5 version.
To include it I followed this guide: https://hackernoon.com/how-to-use-javascript-libraries-in-angular-2-apps-ff274ba601af

I worked on the Ionic / Angular app with a page that includes an iframe and inside this iframe there is another site hosted elsewhere that uses Penpal.

I connected to child using your connecT

[2019-06-13 16:16] Aaronius commented on #30
It looks like you're not calling the `navigate` method; you're only referencing it. `child.navigate.then(` should be `child.navigate().then(`.

[2019-06-13 17:45] maxmori commented on #30
sorry ..  i wrote the wrong code, it's similar of yours,
the real code is: `child.navigate(somevalue).then(`
..

[2019-06-13 17:49] Aaronius commented on #30
That seems like it should work then. I don't think I'll be able to be much help unless you can set up a reproducible example that I can debug.

[2019-06-14 09:16] maxmori commented on #30
ok,
i will try to  implemet a reproducible example on codesandobox.io and then i will write to you back

[2019-06-14 13:47] maxmori commented on #30
Hi @Aaronius ,
i've created this project on codesandbox whitch includes your library:
[](https://codesandbox.io/s/angular-bq5o1)
you can look it at this page: https://bq5o1.codesandbox.io/

That includes an external site that used Penpal for exposes a method "navigate()",
 which essentially routes to another page.

When I try to click on the "Go to another page" button I see on the console "Parent

[2019-06-15 10:17] radarfox commented on #31
I was about to suggest the same feature, even with the same name, so this looks like a good idea.

I'm developing the web app for the smart TV platforms (Samsung and LG) and I ran into this issue. The problem is, that these platforms run on `file://` protocol, but with a non-null origins in the messages. Here is the table that shows the problem:

| Browser | Origin of `location` | Origin of `postM

[2019-06-17 02:11] Aaronius commented on #30
@maxmori, thanks for the demo. The problem is that the iframe is calling `connectToParent` when it loads and the parent is calling `connectToChild` only after the user clicks the "Go to Other Page". This part in the Penpal documentation is important:

Once you fix that, it should work for you.

[2019-06-17 02:12] #30 closed

[2019-06-17 16:26] maxmori commented on #30
Hi,
it's work! Thanks

[2019-06-17 21:00] Aaronius commented on #31
Oh that's interesting...and annoying that they aren't consistent. Thanks for the detail @radarfox. I need to take a while to digest this. @cojocaru-dragos-alexandru, are you dealing with the file:// protocol as well?

[2019-06-18 19:57] cojocaru-dragos-alexandru commented on #31
Hi guys, the protocol I was using was https. I basically had 2 websites: a "parent" one and another one displayed inside a parent's iframe.

[2019-06-24 14:25] radarfox commented on #31
I have done some further research and found out, that if you run Chrome with `--allow-file-access-from-files` CLI argument, then the origin in the messages also changes to `file://`. Here is the updated table:

| Browser | Origin of `location` | Origin of `postMessage` |
|---|---|---|
| Chrome 75 | `file://` | `null` |
| Chrome 75 with `--allow-file-access-from-files` | `file://` | `file://` |
| L

[2019-06-29 15:19] Aaronius commented on #31
Could you run `npm install penpal@next` and make sure it solves your issues? You should be able to pass `childOrigin` as an option into `connectToChild` now.

[2019-06-29 15:23] Aaronius commented on #31
BTW, the updated readme can be found at https://github.com/Aaronius/penpal/tree/v4.1.0. Feel free to give that a read and make sure it makes sense.

[2019-07-06 20:22] radarfox commented on #31
Works as expected, thank you very much! I'm looking forward to the official release.

Readme seems understandable. Maybe you can mention that `iframe.src` is not requred in this case and you can add it later after calling `connectToChild`.

[2019-07-08 20:39] Aaronius commented on #31
Released in v4.1.1.

[2019-07-08 20:39] #31 closed

[2019-08-28 10:05] etamponi opened #33 "Penpal does not work with iframe sandbox attribute"
Hi :)

I am trying to use Penpal to communicate with a sandboxed iframe, but it does not work without the `allow-same-origin` flag:

[code]

Unfortunately, I can't set `allow-same-origin` in the sandbox.

Any help? Thank you :)

[2019-08-28 10:40] etamponi commented on #33
Found the solution :)

1) It is not possible to use an `<iframe>` added in the html file, this specific setup only works for dynamically generated iframes.

2) In `connectToChild`, `childOrigin` needs to be set to `"null"` (the string `"null"`, not the value `null`).

Amazing library :)

[2019-08-28 10:40] #33 closed

[2020-04-17 04:40] Aaronius opened #43 "Help test v5!"
Good news! Version 5 is about ready to ship and I could use your help testing it out.

To install v5, run `npm install penpal@next`. For the updated readme, see https://github.com/Aaronius/penpal/blob/5.x/README.md

# Breaking Changes

## Importing Modules

The only breaking changes are in how `connectToParent`, `connectToChild`, and error codes are imported. Penpal no longer ships with ES5. The E

[2020-04-19 23:52] MisterPhilip commented on #43
I did some testing this afternoon and couldn't find any issues or major requests. Love that it's in TS now! My only minor request would be the ability to attach an event listener or callback when a connection is destroyed in the event I need to do any clean up. It looks like the code is already there, just not exposed publicly. I don't have a real-world use case for it, but something to think abou

[2020-04-20 15:49] jameswragg opened #44 "SRC-less iframes report ERR_NOT_IN_IFRAME"
I'm creating an iframe with JS, building my own document (with Penpal in head) and writing it in, the iframe loads but Penpal fails with: `connectToParent() must be called within an iframe` when it actually is and the parent has Penpal running and listening.

The check that's failing is here: https://github.com/Aaronius/penpal/blob/master/src/connectToParent.js#L32

I can only assume window does e

[2020-04-21 11:01] jameswragg commented on #44
I gave the iframe a generated name & it seemed to fix it!

[2020-04-21 11:01] #44 closed

[2020-04-22 03:58] Aaronius commented on #44
Thanks for the information @jameswragg. I'm glad you got it working I tried to reproduce your example because I was curious about it, but things seem to be working for me. Here's my setup: http://dtm.aaronhardy.com/penpal/

Did I miss something?

[2020-04-22 04:01] Aaronius commented on #43
Thanks for testing @MisterPhilip! I really appreciate it. Yeah, that's a reasonable request. Since it wouldn't be a breaking change to add it, I'll probably wait until someone encounters an actual use case for it and add it then.

[2020-04-22 13:23] jameswragg commented on #44
Thanks for coming back to me even though its working :)

The only difference is I'm creating the iframe & appending to the body, writing the contents in the onload callback but thats minimal difference & can only assume I was doing something silly as its working correctly now.

Using Penpal because I can apply it to any iframe, my goto for postmesaging (postmate) has to create the iframe itself. G

[2020-04-22 14:40] Aaronius commented on #44
Thanks @jameswragg! I appreciate the kind words.

[2020-04-28 02:27] h15ter commented on #43
Could you add an example of how it could be used with React?
I tried to create a simple wrapper using iframe ref and useEffect hook to create/destroy connection on mount/unmount, and I see lots of 'connection disposed' errors...

[2020-04-28 04:56] Aaronius commented on #43
@h15ter I'll try to write something up when I get some time. I'd be curious to see your code so far. This may help: https://www.jayfreestone.com/writing/react-portals-with-hooks/ We're not creating "react portals" like the article is, but it's similar enough.

[2020-05-03 13:38] jameswragg opened #45 "IE 11 support"
Realising a little late in the day that this library only supported IE 11 in the 3.x branch. I'm using the current 4.x release due to being able to apply install on an existing iframe - functionality required for my project 😫.

Before I dive in to it, is IE 11 support a matter of transpiling/polyfilling or is it entirely incompatible?

Thanks in advance

[2020-05-03 21:37] Aaronius commented on #45
Hey @jameswragg, I haven't tried running it on IE since 3.x, so I'm not sure how far off it is. If I were to guess, there's probably very little that needs to change beyond transpilation. If you find out, I'd be interested in knowing.

I noticed a fork of Penpal that has a commit that appears to be supporting IE: https://github.com/holidaycheck/penpal/commit/116780848597a2fd5c8b856ee8e0da21ceaf64e

[2020-05-05 11:59] jameswragg commented on #45
Really useful - thank you!

[2020-05-05 11:59] #45 closed

[2020-05-07 11:21] marlon-tucker commented on #43
Don't suppose you have a rough ETA as to when v5 will be released, we've just updated to v4 from v3 and discovered there's no typescript typings. It's not the end of the world but if v5 is just around the corner it would make sense for us to wait for it.

[2020-05-07 13:49] Aaronius commented on #43
Barring any issues, which there don't seem to be, I was planning on publishing v5 before the end of the week (end of May 10).

[2020-05-08 03:48] Aaronius commented on #43
@marlon-tucker If you (or anyone else) could review my TypeScript and see if you spot any glaring issues (particularly regarding the public API), that would be great. I'm still pretty new to TypeScript. Code here: https://github.com/Aaronius/penpal/tree/5.x

[2020-05-08 23:48] Aaronius commented on #45
@jameswragg If you've investigated this further, I'd like to hear about what you discovered.

[2020-05-09 17:09] Aaronius commented on #43
v5 has been published. Thanks everyone!

[2020-05-09 17:09] #43 closed

[2020-05-09 17:17] Aaronius opened #46 "Testing process on SauceLabs doesn't complete properly"
When tests are running on SauceLabs, the process fails. Here's the last relevant message:

[code]

See an example failed build here: https://travis-ci.org/github/Aaronius/penpal/builds/685098099

I've tried several configuration changes but haven't had success fixing the problem. Alternatively, explore different testing solutions entirely.

[2020-05-09 18:36] marlon-tucker commented on #43
Sorry was a public holiday here on Friday and I didn't check my emails. I had a brief look over the public API and couldn't see any issues.

Thank you for your continued support of this library, we migrated away from postmate to this as they seem to have abandoned it.

[2020-05-12 16:32] marlon-tucker opened #47 "Please make connectToParent and connectToChild accept a generic type parameter."
Hello,

In the 3.x branch, the TS Typings for these methods were generic and thus allowed the returned promise to be correctly typed. In the 5.x branch at the moment, this promise is typed to `CallSender` which is just a function dictionary and so there's no type safety.

Something like this would keep compatibility

[code]

So if a generic parameter isn't provided, it falls back to `CallSender`.

[2020-05-18 02:06] Aaronius commented on #47
@marlon-tucker Please do! I don't have a lot of experience with TS so a pull request would be helpful. Thanks for filing the issue.

[2020-05-20 03:09] #47 closed

[2020-06-10 10:05] h15ter opened #51 "Connection promise gets rejected with error if destroyed by the user"
Imagine the following common scenario:
1) I have a single-page application.
2) When user comes to a specific area, I create an iframe and connect to it with penpal.
3) When user leaves that area, I destroy the connection and remove the iframe.

In this scenario, if user leaves the area *before* connection is established (it may take time due to network latency etc), connection promise is always re

[2020-07-14 04:14] Nebulis opened #52 "Compatibility v4-v5"
Hi,

We use penpal quite a lot (thanks for the lib :)) but we recently came into some troubles. Our model is to have one main application loading one frame (at a time) but loading frame from different endpoint depending on the use case (so basically one app, multiple frames)

We started to received feedback that things was not working anymore. After a quick search we noticed that the version 5 was

[2020-07-14 14:58] Aaronius commented on #52
@Nebulis, your understanding is correct. Because the underlying communication is different between v4 and v5, you can't have the parent running v5 and the child running v4 or vice-versa.

We have a similar situation to yours at Adobe. The way we handle it is we host a script on a public CDN. The authors of the HTML pages that get loaded into iframes load that script from the public CDN. Our script

[2020-07-14 14:58] #52 closed

[2020-07-16 06:56] Nebulis commented on #52
Thanks for your response and sharing. I'm not sure that on our case we could do something like this, but it still gave me ideas to explore :)

[2020-07-16 19:00] ricklang opened #54 "Latest chrome update breaks the penpal"
I am using penpal 5.0.0 for cross domain message. Basically I have three web applications A, B, and C on different domains. Both A and B load C as iframe and write/read something to the iframe, so A and B can exchange information. It was all working fine. But today it is not working any more. I check the chrome version It is the latest Chrome 84.0.4147.89 and just updated yesterday on my machine.

[2020-07-17 18:19] Aaronius commented on #54
Thanks for reporting this @ricklang. When you say "it is not working any more", what behavior are you seeing that's incorrect? Are you receiving any errors? Is this somewhere public where I could debug further?

[2020-07-30 19:03] Aaronius commented on #54
I haven't heard anything back, so I'm going to close this. If you have more information, please share

[2020-07-30 19:03] #54 closed

[2020-08-05 13:58] lpellegr opened #55 "TypeScript imports with Penpal 5.2.0"
Using Penpal 5.1.1, I was importing types and defining variables in a TypeScript project as follows:

[code]

Unfortunately, using Penpal 5.2.0, I cannot find the equivalent.

It seems _TCallSender_ was replaced by _CallSender_ and most types need to be imported from the _lib_ folder:

[code]

My main issue is about _Connection_ which seems not exported. How to import it?

[2020-08-06 03:16] Aaronius commented on #55
@marlon-tucker, what do you make of this? I don't understand how @lpellegr was able to import types with `import {AsyncMethodReturns, Connection, TCallSender, connectToParent} from 'penpal';`

@lpellegr, can you still import `connectToParent` with this: `import { connectToParent } from 'penpal';`

[2020-08-06 07:24] lpellegr commented on #55
Yes, this is still possible but no longer _AsyncMethodReturns_, _Connection_ and _TCallSender_.

[2020-08-06 09:26] marlon-tucker commented on #55
I'm equally confused, I checked out tag 5.1.1 and built it, and the `index.d.ts` looks the same as it is in 5.2.0.

I hadn't realized the `package.json` file didn't have a `types` entry before 5.2.0, and I'm not sure what Typescript falls back on if it doesn't find that entry - I would expect it's something to do with that.

Although saying that, in our code we have `import { Methods, AsyncMethodR

[2020-08-06 09:29] lpellegr commented on #55
@marlon-tucker How do you import _Connection_? I don't see it exported in `penpal/lib/types`.

[2020-08-06 09:38] marlon-tucker commented on #55
That has been something I've been meaning to submit a PR for actually.

Both the return types for `connectToParent` and `connectToChild` are not exported, which meant we couldn't store the result as a strongly typed class member (we needed to keep track of it so we could dispose it properly in the future).

I hacked around that by defining a interface with a `destroy` function.

I just noticed you

[2020-08-11 20:13] OverZealous opened #56 "Serializing Objects with Functions causes an error"
This isn't too hard of an issue to workaround, but it might be nice to handle in the core library.

## Problem

If you pass an object to `postMessage` that contains a `Function`, the method throws an error (at least under Firefox).

## Solution

This can be handled very simply using a method that filters out functions from passed data. I use a method that looks like this:

[code]

I'd be happy to

[2020-08-12 16:59] Aaronius commented on #56
Thanks for logging the issue @OverZealous. I think I prefer the current behavior of an error being thrown, so that it's more obvious to the developer that they can't send a function to/from the iframe. I do think I need to be more explicit about this nuance in the Penpal documentation though.

FWIW, I think you can change your function to this:

[code]

The native JSON serialization process automa

[2020-08-12 16:59] #56 closed

[2020-08-12 17:01] Aaronius commented on #55
@marlon-tucker, a PR for `Connection` would be great! I'm going to close out this issue and create a new one for `Connection`.

[2020-08-12 17:01] #55 closed

[2020-08-12 17:02] Aaronius opened #57 "Provide typing for Connection"
As described in https://github.com/Aaronius/penpal/issues/55, it would be useful to provide a TypeScript typing for `Connection` (representing the Penpal connection) that developers can use to better type their applications.

[2020-08-12 17:09] OverZealous commented on #56
I understand. I wish the browser-generated console error was better—it's not very clear what's triggering it.

One reason it would be nice to automatically handle this is you don't have to wrap methods or results from methods that might be shared within the parent or child application. This is useful for triggering actions that can be called on either side by simply sharing the same method.

I did

[2020-08-17 15:54] Aaronius commented on #56
Thanks for pointing that out. Let me keep this in mind. If it comes up again, it might be worth adding `serialize` and `deserialize` options. Thanks again.

[2020-09-02 11:48] mariovde opened #58 "How to detect if connection with child was lost?"
Hi

I am currently using penpal in a setup at a client but we stumbled upon the following "issue":

When the original page in the iframe - that has the penpal library - is replaced by a page that does not have the library and we want to do a call to the child, we get this:

[Penpal] Parent: Sending getState() call

So Child has a function getState. Parent asks the child to do the getState function

[2020-09-02 15:19] Aaronius commented on #58
Hey Mario. The problem here is that the parent is assuming that the child is still working on preparing a response. By default, it waits indefinitely, but you can configure a timeout when the `connectToChild` is called (see https://github.com/Aaronius/penpal#options). Once you configure a timeout, if the parent doesn't hear a response from the child after the timeout passes, your `.catch` should b

[2020-09-03 18:30] Aaronius commented on #58
Sorry, I misspoke. The timeout configuration option only applies to waiting for the initial connection to be established, so it won't work for your specific situation.

@mariovde, would your ideal solution be that Penpal provides an event that notifies you when there's a disconnection and then a separate event that notifies you when there's a re-connection?

[2020-09-03 18:50] mariovde commented on #58
@Aaronius Well, okay, that's why we were waiting so long to see the timeout kick in :)... it never came.
Yes, I think it would be good for everyone to know when the connection was lost and when it would reconnect.
That would be awesome for sure!

[2020-09-03 20:24] Aaronius commented on #58
Okay, thank you. Providing an event for reconnection will be probably simple enough. Providing an event for "disconnection" might be trickier, but I'll play around with some ideas. Thanks for bringing this up.

[2020-09-13 02:38] Aaronius commented on #58
@mariovde I'm curious to know what you'd like this API to look like. I've got some ideas, but I don't really love them.

[2020-09-13 12:21] mariovde commented on #58
@Aaronius how about adding another config option onConnectionLost : function() ?

const connection = connectToChild({
  // The iframe to which a connection should be made
  iframe,
  // Methods the parent is exposing to the child
  methods: {
    add(num1, num2) {
      return num1 + num2;
    },
  },
**onConnectionLost: function(params);**
**onConnection: function(params);**
});

something like t

[2020-09-22 02:03] Aaronius commented on #58
That's where I was headed. It prompts a few questions:

* Does `onConnection` get called on the initial connection and all subsequent connections, or just the subsequent connections?
* What are the params to `onConnection`. Maybe the `child` object?
* Should the `child` object provided through `connection.promise` stop functioning after a reconnection? Its API may be different than the newly-conne

[2020-10-01 16:26] markerikson opened #60 "Option to skip iframe validation?"
I'm using Penpal in an app, and I'm trying to test that app via Cypress ( https://www.cypress.io/ ).

Unfortunately, Cypress is finicky about dealing with iframes.  Part of that is that it appears to modify the value of `window.top` in order to host your app in its test environment, or something along those lines.

Penpal is currently doing an iframe validation check:

https://github.com/Aaronius/

[2020-10-02 03:27] Aaronius commented on #60
Hey @markerikson, thanks for logging the issue. Will you try (or have you tried) setting `modifyObstructiveCode` to `false` in your cypress.json and see if that fixes your issue? We're using Penpal + Cypress on a project at work and I think this is what fixed it in our case.

[2020-10-02 03:38] markerikson commented on #60
Hmm.  Here's what I was trying in the process of getting stuff to work earlier today:

- Original project setup:
  - `penpal@5.1` (or so - still using the version before you went back to publishing ES5-compat syntax)
  - Small `cypress.json` file, no compilation related options
  - Result: "Must be used in an iframe" error
- Researched, found Cypress's docs on `modifyObstructiveCode`
  - Added `"m

[2020-10-02 04:40] Aaronius commented on #60
`modifyObstructiveCode` is `true` by default. Try setting it to `false` and let me know how it goes please.

On Oct 1, 2020, at 9:38 PM, Mark Erikson <notifications@github.com> wrote:

﻿

Hmm. Here's what I was trying in the process of getting stuff to work earlier today:

  *   Original project setup:
     *   penpal@5.1 (or so - still using the version before you went back to publishing ES5-comp

[2020-10-02 15:56] markerikson commented on #60
Huh. Clearly I misread that docs page :)  It does indeed say it defaults to `true`.

Yeah, I just tried uncommenting those lines in `node_modules`, set `"modifyObstructiveCode": false` in my `cypress.json`, and rebuilt the app, and the tests (still) work.

Might still be useful to have this as an option anyway, I guess, but doesn't appear to be necessary to solve this use case now.

Thanks for hel

[2020-10-06 03:06] Aaronius commented on #60
I'm going to update the readme with some of these details, then probably create a new ticket to just remove the check entirely in the next major version since it probably doesn't provide a lot of value anyway.

[2020-10-06 03:06] #60 closed

[2020-10-06 03:26] Aaronius opened #61 "Remove check that determines if `connectToParent` is running inside iframe"
When calling `connectToParent`, Penpal checks to see if it is running inside an iframe and, if not, throws a `NotInIframe` error to make you aware of the problem. While this can be helpful, it [causes problems](https://github.com/Aaronius/penpal/issues/60) when Penpal is running within a [Cypress](https://docs.cypress.io/) test. While there's a workaround available by disabling [`modifyObstructive

[2020-10-10 21:36] yowainwright commented on #58
**Love PenPal!** 🔥

I haven't dug in enough to respond completely coherently so excuse misunderstanding.

---

I like the idea of `isStillConnectedToChild`.

Rather than PenPal providing a loss of connection to the child, and then a reconnection to the child, it only confirms it "is Still Connected" connected to the child.

---

**Idea**
[code]

[2020-10-12 16:11] Aaronius commented on #58
Thanks for the feedback @yowainwright!

[2020-10-14 14:12] lpellegr opened #62 "Iframe Removal Monitoring not Working with Custom Elements"
Let's say you have a single-page Web app that makes use of web components (for instance a [lit-element](https://lit-element.polymer-project.org/) Web app). The page is rendered through a custom element that has an iframe in its Shadow DOM. This custom element interacts with this iframe using Penpal.

In this scenario, the connection between the parent and child is automatically destroyed after 60

[2020-10-14 15:16] Aaronius commented on #62
Thanks for finding and reporting this @lpellegr! I saw your two pull requests and I'll dig deeper into them ASAP. Regarding being able to configure iframe removal monitoring, could you explain the use case for that? Thanks again.

[2020-10-14 15:35] lpellegr commented on #62
Thanks for your quick reply.

I have 2 use cases: the first is about disabling iframe removal monitoring completely since I destroy connections properly and the window that loads the app does not aim to remain open a long time. The second is about using Penpal in a third-party widget. In that case, I prefer to keep the feature enabled but a check every hour is more than enough.

[2020-10-15 03:02] Aaronius commented on #62
@lpellegr Is the current monitoring causing issues, are you worried about performance, or something else? It's a very inexpensive check, so I don't see performance being a concern.

[2020-10-15 05:35] Aaronius commented on #62
Hey, I haven't tested this yet and I'm having a bit of difficulty finding understanding this from documentation, but you may know the answer. If the iframe is added to the web component but the web component is not added to the window's document, will `iframe.isConnected` return `true` or `false`? If it returns `true`, I don't think that's a good thing, because that means Penpal won't close the co

[2020-10-15 08:53] lpellegr commented on #62
@Aaronius The answer to your question is `false`. If the iframe is added to the Web component but this last is not attached to the window DOM tree, then the iframe is not connected. The same is true if the Web component is attached and then detached. Here is a simple example to illustrate both cases (uncomment the 2 lines to test the second case):

https://jsfiddle.net/lpellegr/qxupLb0y/87/

Regar

[2020-10-16 03:02] Aaronius commented on #62
Thanks for setting up that test and explaining your reasoning @lpellegr. Thanks for the PRs as well. I'm going decline the monitoring configuration one until I see a more compelling reason to make it configurable. I'll do my best to get the other two merged and released tonight. Thanks!

[2020-10-16 03:04] #62 closed

[2020-10-16 03:05] #57 closed

[2020-10-16 03:20] Aaronius commented on #62
The `iframe.isConnected` fix was published in v5.3.0. Thanks @lpellegr!

[2020-10-16 03:21] Aaronius commented on #57
Published in v5.3.0. Thanks @lpellegr!

[2021-04-21 14:52] olee opened #67 "Export types"
Hi, I just wanted to start using this library with typescript, but immediately noticed a big issue:
Types like `Connection` do not seem to be exported at all from this library.
In fact, the only export seems to be `connectToChild`, `connectToParent` and `ErrorCode`.

At least the generic type `Connection` would be highly required to properly type fields

[2021-04-27 18:12] Aaronius commented on #67
Hey @olee. Thanks for reporting this. Is this something you'd want to help with or not so much? No pressure either way.

[2021-05-04 01:25] Aaronius commented on #67
@olee, the types are exported and can be found in `penpal/lib/types`, so you should be able to import them like so:

[code]

Are you not able to do that or were you expecting something different? Frankly, I'm not terribly familiar with TypeScript, so if you see Penpal doing something that's not conventional, please let me know so I can correct it.

Thanks for creating the issue.

[2021-05-04 01:32] Aaronius commented on #67
@lpellegr, maybe this is something you can chime in on as well. I want to make sure we're exporting types in a way that's standard for the TypeScript community so that developers like @olee can more easily find them. If it seems like we're doing it the conventional way, then I probably just need to update documentation to be more clear about how to import the types.

[2021-05-10 01:12] olee commented on #67
Well, it is possible to import from the child path, however that is not really the recommended behavior, especially since everything else in this library can be imported from the index.

To solve this issue, a simple
[code]
inside `index.ts` would solve this and at the same time greatly simplify working with the types in this library.

[2021-05-10 14:59] Aaronius commented on #67
Makes sense. Thank you.

[2021-07-09 02:36] #61 closed

[2021-07-09 02:36] #51 closed

[2021-07-09 02:36] #67 closed

[2021-07-18 22:16] Aaronius commented on #67
This was released in v6. Thanks!

[2021-07-18 22:16] Aaronius commented on #61
This was released in v6.

[2021-07-18 22:18] Aaronius commented on #51
This change was released in v6. Thanks!

[2021-07-29 03:41] Aaronius commented on #12
Support for this has been published in 6.1.0 thanks to @cdun's contribution.

[2021-09-02 11:33] rizikolik opened #72 "Types for the response of Promise returned after connection established"
[code]
Here  I have some methods that my child provides.And I want to include that methods inside this child.I want to use  a new interface that will look like something like this:
[code]
Is there any way to do this ? I tried but could not be implemented this.
Any help is appreciated ! Thanks.

[2021-10-11 03:16] Aaronius commented on #72
Hi @rizikolik, take a look at https://github.com/Aaronius/penpal/pull/50#discussion_r429646202 and let me know if it answers your question.

[2021-10-12 10:33] KutnerUri opened #73 "dynamic iframe url"
I'm using an iframe that includes redirects as part of it's setup, and I'm getting this error:

[code]

The setup goes something like this:
[code]

I wanted to disable the childOrigin check, but it does not seem to be possible. Leaving it as `""` or `undefined` defaults to the iframe's `src`, and `"*"` doesn't work.

I don't have a way to know the final url of the iframe. Is there another property

[2021-10-12 13:37] KutnerUri commented on #73
@Aaronius Please check PR #74

[2021-10-13 04:35] Aaronius commented on #73
Thanks for the contribution, @KutnerUri! I see your predicament and why you would want this feature. I want to make sure the security implications of not using `https://symphony.bit.dev` for `childOrigin` are considered. In this case, if an attacker were to be able to nefariously navigate the iframe to a nefarious URL, the page at the nefarious URL could spoof being a legitimate child and receive

[2021-10-14 03:44] #73 closed

[2021-10-14 04:28] Aaronius commented on #72
I've [documented this in the readme](https://github.com/Aaronius/penpal#typescript). I'm closing this issue, but let me know if it isn't clear or doesn't answer your question. Thanks for asking.

[2021-10-14 04:28] #72 closed

[2021-10-16 19:30] Aaronius opened #75 "Make parentOrigin on connectToParent required"
Currently the `parentOrigin` option on `connectToParent` is optional but highly recommended. If it isn't specified, the child is allowed to communicate with any parent origin (rather than a specific parent origin). Instead, I think it should be required, and if a developer would like the child to communicate with any parent origin, they should provide a value of `*`. This change would force develo

[2021-11-23 18:46] onemantooo opened #76 "Including penpal in babel producing errors"
Hi. I'm using penpal in my Rollup + TS project and getting a bunch of errors, when trying to include `node_modules/penpal/**/*.js` in babel processing. Babel is configured to support IE 11 (penpal is not used in this case, but syntax needs to be transpiled cause it's bundled in single file), so when i don't include penpal i'm getting a syntax error in IE, but when i include - everything seems work

[2021-12-11 02:10] Aaronius commented on #76
Hey @onemantooo. I'm not familiar with this error. From https://rollupjs.org/guide/en/#error-this-is-undefined, it looks like you might be able to play around with options.context and options.moduleContext. I don't have any particular insight into this, sorry! If you find out it's something wrong with Penpal, please let me know! Thanks!

[2021-12-11 02:10] #76 closed

[2022-01-20 22:23] joeblas opened #77 "Examples for using with React Hooks"
It would be nice to have some examples using React, possibly even adding custom hooks for both `connectToParent` and `connectToChild`. I've been playing around with penpal in a React project and I can't seem to come up with the best way to `destroy` the connection. Any feedback would be appreciated:

[code]

[2022-01-23 06:14] Aaronius commented on #77
Good idea @joeblas!

Looking at your code, I don't think you want `connection` as a dependency of `useEffect`. I haven't tested it, but logically I think what's happening with the code you have is that the first time the component renders, `useEffect` will be called and `setConnection(connectToChild(iframe, {methods}))` will be called inside `useEffect`. This will set the `connection` state to the

[2022-01-23 06:16] Aaronius commented on #77
Feel free to give https://www.npmjs.com/package/react-penpal a shot as well. If you try it out, let me know how it goes for you.

[2022-01-24 15:47] joeblas commented on #77
Hey @Aaronius, thanks for the reply! After looking at react-penpal, I had some "ah-ha" moments. Perhaps it'd be a good idea to add a link to react-penpal in the readme. What do you think? I can add in the link right after the Typescript section or at the very bottom.

[2022-01-27 04:58] Aaronius commented on #77
Glad you found what you needed! I've added the link to the readme. Thanks for the feedback.

[2022-01-27 04:58] #77 closed

[2022-02-23 18:53] KutnerUri opened #85 "error "Cannot read properties of null (reading 'postMessage')""
version: 5.3.0
I am getting getting this error:

[code]

It seems to come form this line of code:
[code]

Usually the `source` is a `window`, so I'm guessing this is happening because the parent window is getting a message from an iframe that already closed (similar to the connectionDestroyed error during handshake).

Maybe add a null guard there?

[2022-03-01 03:29] Aaronius commented on #85
Interesting! Thanks for reporting. Do you have a reproducible example I can look at?

[2022-03-01 06:15] Aaronius commented on #85
Does this happen only after the connection has been made for some time? Do you know if the iframe has been removed or have you called `destroy()` on the connection object?

[2022-03-01 10:48] KutnerUri commented on #85
yes, I'm calling `connection.destroy()`, like so:
[code]

I also upgraded to the latest version, `"penpal": "6.2.1"`.
It is difficult to reproduce, it's happening when switching between iframes a lot.
![Screen Shot 2022-03-01 at 12 43 05](https://user-images.githubusercontent.com/5400361/156155275-cc0f255b-dd86-48c5-919c-4a7b834c23d9.png)

You can see it here: https://bit.dev/teambit/base-ui

[2022-03-01 16:12] Aaronius commented on #85
This is helpful. Thanks. I clicked between nav elements about a hundred times and didn't get it but I'll keep trying. Regardless, I'll probably add a null check. I'm just trying make sure there isn't a larger problem I should be aware of.

[2022-03-06 21:41] #85 closed

[2022-03-06 21:50] Aaronius commented on #85
Fixed in v6.6.2. Thanks for reporting and for the details!

[2022-03-09 09:50] KutnerUri commented on #85
6.2.2* :)

[2022-03-09 16:09] Aaronius commented on #85
Lol…yes, thank you.

[2022-03-09 16:17] Aaronius commented on #85
Hey @KutnerUri, I noticed you're doing some `connectToParent` retries here: https://github.com/teambit/bit/blob/385cdf34ef360e38319ada68ebe524d616fad541/scopes/harmony/pubsub/pubsub.preview.runtime.ts#L50-L65

I'd like to hear more about why that was necessary for you. I'm wondering if this may be useful to other users of Penpal and should be built into Penpal itself.

[2022-03-09 17:49] KutnerUri commented on #85
I don't remember 100%, but I think it had some race condition because of server-side rendering.

When the site is pre-generated on the server, it has the entire html, including iframes, so the browser loads/executes both the parent and child iframe at the same time.
The main site takes a while to execute/rehydrate until it finally reaches the react hook that starts listening
The child iframe is mu

[2022-03-13 02:19] celesterobinson commented on #46
One option would be to ditch TravisCI and use the [Sauce Labs CLI in conjunction with GitHub actions.](https://docs.saucelabs.com/dev/cli/saucectl/usage/ci/github-actions/).

I'm happy to submit a PR with the workflow, then you can add your Sauce Labs credentials to a GitHub secret.

[2022-03-13 03:23] Aaronius commented on #46
Let's do it!

[2022-03-16 09:28] zetlen opened #87 "Question: Why does penpal use Window#postMessage instead of MessageChannel?"
[MessageChannel](https://developer.mozilla.org/en-US/docs/Web/API/MessageChannel/MessageChannel) has the same features and support matrix as `postMessage`, but it has a couple of nice extra things. You may have already considered MessageChannel and opted against it; if so, I'd be curious to know why. You might have a good reason that I should avoid them too.

The difference is that a MessageChanne

[2022-03-17 02:28] Aaronius commented on #87
Hey, thanks for asking the question. I wasn't aware of MessageChannel when I was building Penpal. I learned about it in the meantime but just haven't taken the time to explore switching from `postMessage`. If you'd like to make a pull request, I'd be interested. Otherwise, I'll dig into it when I get the opportunity. Thanks!

[2022-03-17 22:31] celesterobinson commented on #46
Before completely throwing out TravisCI, I'm curious what configuration changes you tried. Did you try launching chrome with no sandbox?

[2022-03-18 04:47] Aaronius commented on #46
It's been a few years, so I don't even remember at this point. I believe it was before Github Actions were a thing. I'd rather just use Github Actions at this point.

[2022-03-18 16:29] celesterobinson commented on #46
Could you give me permissions to edit actions on the repo while I work on this? I'm not sure which permission it is, but I currently can't re-run jobs :(

[2022-03-18 22:35] Aaronius commented on #46
I tweaked a permission. See if that works. If it doesn't, I'll need to do some more research.

[2022-03-26 19:06] Aaronius commented on #46
Are you able to re-run jobs now @celesterobinson?

[2022-03-26 19:08] celesterobinson commented on #46
Yes! Much thanks. I haven't had time for a while to look at this but I'll have a lot of time next week.

[2022-03-29 16:02] celesterobinson commented on #46
@Aaronius I'm not sure if they're already set up, but would you mind setting up the repo secrets?
Keys:
`SAUCE_USERNAME`
`SAUCE_ACCESS_KEY`

[2022-04-01 03:55] Aaronius commented on #46
Okay, the secrets are set!

[2022-04-01 04:02] Aaronius commented on #46
I'm also good with going with BrowserStack if SauceLabs gives us trouble. I've had better luck with BrowserStack in other projects.

[2022-08-08 02:48] ppfalling opened #90 "connected fail"
when i switch choice and the component what contains iframe would be reloaded, if the iframe dom structure change( iframe become the grandson but last time is son of some dom ), connected would be failed
Can anyone tell me how to fix? And it didn't go into promise.catch either!!

[2022-08-08 15:22] Aaronius commented on #90
HI @ppfalling. Do you have a reproducible example of the problem you're seeing that I could play with?

[2022-08-22 07:25] tequilaNiu commented on #87
I think `MessageChannel` better than `window.postMessage`. Safer and two-way communication. But, cannot call function like `(parent|child).[declare by your self function]`,  only in the following ways： `port2.postMessage({ method: yourFunction,  params: { ... } })`.I don't know if my understanding is wrong. Thanks~